<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>嫉妒的空间</title>
  <link rel="shortcut icon" href="/static/img/鲸鱼.svg">
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- Vue2 -->
  <!-- <script src="/static/js/vue/vue.global.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- element-ui -->
  <link rel="stylesheet" href="/static/js/element-ui/index.css">
  <script src="/static/js/element-ui/index.js"></script>

  <!-- 2D看板娘 -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@0.8.3/autoload.js"></script> -->
</head>

<body>
  <div id="app">
    <h1>请输入真实姓名</h1>
    <el-input @keyup.enter.native="submit" @input="inputChange()" style="width: 300px;" v-model="input1" placeholder="请输入真实姓名"></el-input>
    <el-button @click="submit()">确定</el-button>
    <h1 v-if="mes" style="color: red;">{{mes}}</h1>
  </div>
  <script src="/static/js/main.js"></script>
</body>

</html>